@import '../../variables';

.Task{
    width:84vw;
    height:56px;
    background:$white; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    padding: 8px;
    
    display:grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    column-gap: 8px;
    align-items: center;
    justify-items:center;
    
}

.TaskButton{
    height:24px;
    width:24px;
    border-radius:24px;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;

    .Play{
        height:45%;
        margin-left:10%;
        path{
            fill:$white;
        }
    }
    .Check{
        height:80%;
        path{
            fill:$gray-200;
        }
    }
}

.TaskDetails{
    width:100%;

    h3{
        @extend %h3;
        color: $black;
        display:inline-block;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 55vw;
    }

    p{
        @extend %body;
        color: $gray-200;
    }
}

.Subtasks{
    @extend %body;
    color: $gray-200;
}

.Complete{
    background-color: $gray-500;
    .TaskButton{
        background-color:$gray-600 !important;
    }
}

.Hamburger{
    @extend %emptybutton;
    
}