@import '../../variables';

.LoadingOverlay{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background: white;
    display:flex;
    align-items:center;
    justify-content:center;
}